.container {
  background-color: #06D6A0;
  padding: 1rem;
  color: #fff;
}

.navbar {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.navbar__brandWrapper {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
}

.navbar__brand {
  font-size: 2.4rem;
  margin-bottom: 1rem;
}

.navbar__toggle {
  background: none;
  border: none;
  color: #fff;
  font-size: 2rem;
  cursor: pointer;
  display: none;
}

.navbar__list {
  display: none;
  flex-direction: column;
  list-style: none;
  padding: 0;
}

.navbar__listOpen {
  display: flex;
}

.navbar__list ul {
  padding: 0;
}

.navbar__item {
  margin-bottom: 1rem;
  list-style-type: none;
}

/* Tablet and up */
@media (min-width: 768px) {
  .navbar {
    flex-direction: row;
    justify-content: space-between;
  }

  .navbar__brandWrapper {
    flex-direction: row;
  }

  .navbar__brand {
    margin-bottom: 0;
  }

  .navbar__list {
    display: flex;
    flex-direction: row;
  }

  .navbar__list ul {
    display: flex;
  }

  .navbar__item {
    margin: 0 1rem;
  }

  .navbar__toggle {
    display: none;
  }
}

/* Laptop and up */
@media (min-width: 992px) {
  .navbar__list ul {
    display: flex;
  }
}

@media (max-width: 767px) {
  .navbar__toggle {
    display: block;
  }
}