
/* Small Screen */
.container {
    background-color: #4361ee;
    color: #fff;
    padding: 1rem;
    text-align: center;
  }
  .footer__title {
    margin-bottom: 1rem;
  }
  .footer__author {
    margin-bottom: 1rem;
  }
  
  
  /* Medium Screen */
  @media (min-width: 768px) {
    .container {
      padding: 1.5rem; 
    }
    .footer__title {
      font-size: 1.2rem; 
    }
    .footer__author {
      font-size: 0.9rem; 
    }
  }
  
  
  
  /* Large screen */
  @media (min-width: 992px) {
    .container {
      padding: 2rem; 
    }
    .footer__title {
      font-size: 1.5rem; 
    }
    .footer__author {
      font-size: 1rem; 
    }
  }
  