/* Small Screen */
.dabal {
    margin-bottom: 1rem;
  }
  
  .dabal__image {
    border-radius: 25px;
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem;
  }
  
  .dabal__status {
    color: #eeeeee;
    font-size: 1.95rem;
    margin-bottom: 0.5rem;
  }
  
  .dabal__total {
    color: #ffffff;
  }
  
  .dabal__genre {
    color: #64748b;
  }
  
  .dabal__card {
    background-color: rgb(194, 26, 26);
    padding: 1rem;
    text-align: center;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    .dabal {
      flex-basis: 50%;
    }
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .dabal {
      flex-basis: 25%;
      padding: 1rem;
    }
  }