.container {
    margin: 1rem;
}

.movies {
    margin: 5rem 0;
    text-align: center;
}

.movies__title {
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: #06D6A0;
}

.movie__container {
    display: flex;
    flex-direction: column;
}

.form {
    display: flex;
    flex-direction: row;
}

.form__left {
    margin-right: 1rem;
}

.movie__image {
    border-radius: 50px;
    max-width: 100%;
    height: auto;
}

.form__right {
    flex: 1;
}

.form__group {
    margin-bottom: 1rem;
}

.form__label {
    display: block;
    font-size: 1rem;
    text-align: left;
    color: #06D6A0;
}

.form__input {
    width: 100%;
    padding: 0.5rem;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form__button {
    background-color: #06D6A0;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
}

@media (min-width: 768px) {
    .form {
        flex-direction: row;
        align-items: flex-start;
    }
    .form__left {
        margin-right: 2rem;
    }
    .form__right {
        flex: 1;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 1200px;
        margin: 3rem auto;
    }
}
