.container {
  margin: 5rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-color: rgb(255, 212, 127); */
  padding: 2rem;
  border-radius: 8px;
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
}

.dapro__title {
  font-size: 2.5rem;
  color: #06D6A0;
  margin-bottom: 1rem;
  text-align: center;
}

.dapro__subtitle {
  font-size: 1.5rem;
  color: #118AB2;
  margin-bottom: 2rem;
  text-align: center;
}

.dapro__container {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 379px;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.dapro__table {
  width: 100%;
  border-collapse: collapse;
  text-align: left;
}

.dapro__table th, .dapro__table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.dapro__table th {
  background-color: #06D6A0;
  color: white;
  position: sticky;
  top: 0;
  z-index: 1;
}