
/* Small Screen */
.container {
    margin: 5rem auto;
  }
  
  .dabals {
    text-align: center;
  }
  
  .dabals__title {
    margin-bottom: 1rem;
    font-size: 2.44rem;
    color: black;
  }
  
  .dabal__container {
    display: flex;
    flex-direction: column;
  }
  
  /* Medium Screen */
  @media (min-width: 768px) {
    .dabal__container {
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  
  /* Large Screen */
  @media (min-width: 992px) {
    .container {
      max-width: 1200px;
    }
  }
  